body {
  background: white;
  color: #333333;
  margin-top: 5rem;
  background: url("images/pencils.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #1d809f;
}

.site-header .navbar-nav .nav-link {
  color: #ffffff;
  font-size:large;
  /*margin-top: 20px;*/
  
  
}

hr.allhr {
  border: 0.5px solid black;
}

.site-header .navbar-nav .nav-link:hover {
  color: #e4ac00;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
  
}
#navbarToggal{
  padding-bottom: 10px;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 0.5px solid white;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 3px 5px 5px 5px #63552b;
  margin-top: 40px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}