{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img"
        src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2"
                href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%d-%m-%Y') }}</small>
            {% if post.author == current_user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1"
                    href="{{ url_for('update_post', post_id=post.id) }}">Update</a>
                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal"
                    data-target="#deleteModal">Delete</button>
            </div>
            {% endif %}

        </div>
        <h2 class="article-title">{{ post.title }}</h2>
        <p class="article-content">{{ post.content }}</p>
        <hr>
    </div>

</article>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>

<div class="content-section">
    <div style="font-size: larger; margin: 10px;">Comments</div>
    <hr class="allhr">
    {% for comment in post.comments %}

    <div class="media-body">

        <div class="article-metadata">
            <img src="{{ url_for('static', filename='profile_pics/' + comment.image_file) }}" alt="Avatar"
                class="avatar mr-2 mb-1 mt-2">

            <!-- <a class="btn btn-info" style="float: right;"><i class="fa fa-trash-alt">Delete</i></a> -->


            <a class="mr-2 mb-20"
                href="{{ url_for('user_posts', username=post.author.username) }}">{{ comment.user_name }}</a>
            <small class="text-muted">{{ comment.date_posted.strftime('%d-%m-%Y') }}</small>
            {% if current_user.username==post.author.username %}

            <a href="{{ url_for('delete_comment',id=comment.id,post_id=post.id)}}"
                onmouseover="this.style.color='black'" onmouseout="this.style.color='#1d809f'"
                style="float: right;margin-top: 4px;color:#1d809f;"><i class="fa fa-trash fa-2x"></i></a>
            {% elif comment.user_name == current_user.username %}

            <a href="{{ url_for('delete_comment',id=comment.id,post_id=post.id)}}"
                onmouseover="this.style.color='black'" onmouseout="this.style.color='#1d809f'"
                style="float: right;margin-top: 4px;color:#1d809f;"><i class="fa fa-trash fa-2x"></i></a>

            {% endif %}
            <div style="font-family: 'Balsamiq Sans', cursive;position: relative; margin-bottom: 2%;">
                {{ comment.content }} </div>
        </div>


    </div>
    {% endfor %}

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Comment?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>




    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.content(class="form-control form-control-lg", placeholder="comment") }}

                <!-- {{ form.content(class="form-control form-control-lg") }} -->

            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>

</div>

{% endblock content %}