{% extends "layout.html" %}
{% block content %}

<form style="display: inline;" action="{{ url_for('search') }}" method="post" name="search">
<div class="input-group md-form form-sm form-2 pl-0">


  {{ form.hidden_tag() }}
  <input class="form-control my-0 py-1 amber-border" type="text" placeholder="Search.." name="search">
  
    <button class="btn btn-info"  type="submit"><i class="fas fa-search text-grey"
      aria-hidden="true"></i></button>
  
</div>
</form>


{% for post in posts.items %}
<article class="media content-section">
  <img class="rounded-circle article-img img-fluid"
    src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
      <small class="text-muted">{{ post.date_posted.strftime('%d-%m-%Y') }}</small>
    </div>



    <a class="article-title " style="font-size: 35px;"
      href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a>
    {% if current_user.username!=post.author.username %}
    {% if current_user.has_saved_post(post)%}
    <a class="col-md-9 col-4 col-sm-6" href="{{ url_for('save_action', post_id=post.id, action='unsave') }}"
      style="color:black; "><i  data-toggle="tooltip" data-placement="top" title="Save Post" class="fas fa-bookmark fa-2x pt-2" style="float:right;"></i></a>
    {% else %}
    <a class="col-md-9 col-4 col-sm-6" href="{{ url_for('save_action', post_id=post.id, action='save') }}"
      style="color: black;"><i  data-toggle="tooltip" data-placement="top" title="Save Post" class="far fa-bookmark fa-2x pt-2" style="float:right;"></i></a>
    {% endif %}
    {% endif %}




    {% if post.image %}
    <div class="image_container pb-3 pt-2">
      <img src="{{url_for('static', filename='post_pics/' + post.image)}}" class="img-fluid img-thumbnail"
        style="max-width: 90%;" alt="Responsive image">
    </div>

    {% endif %}

    <div>
      <span class="article-content">
        <span class=" mt-3">{{post.content| truncate(300) | safe }}.....</span>

        <a href="{{url_for('post',post_id=post.id)}}">Read more</a></span>
    </div>
    <hr class="allhr">

    {% if current_user.has_liked_post(post) %}
    <a href="{{ url_for('like_action', post_id=post.id, action='like1') }}" style="color:#1d809f;"><i
        class="fa fa-thumbs-up fa-2x"></i></a><span class="pl-2 pr-4">{{post.likes.count()}}</span>
    {% else %}
    <a href="{{ url_for('like_action', post_id=post.id, action='like') }}" style="color: black;"><i
        class="fa fa-thumbs-up fa-2x"></i></a><span class="pl-2 pr-4">{{post.likes.count()}}</span>
    {% endif %}

    {% if current_user.has_unliked_post(post) %}
    <a href="{{ url_for('like_action', post_id=post.id, action='unlike1') }}" style="color: #e4ac00;"><i
        class="fa fa-thumbs-down fa-2x"></i></a><span class="pl-2">{{post.unlikes.count()}}</span>
    {% else %}
    <a href="{{ url_for('like_action', post_id=post.id, action='unlike') }}" style="color: black;"><i
        class="fa fa-thumbs-down fa-2x"></i></a><span class="pl-2">{{post.unlikes.count()}}</span>
    {% endif %}

    <span class="pl-2 pt-2" style="float: right;">{{post.comments.count()}}</span>

    <a style="float: right;" href="{{ url_for('post_comment', post_id=post.id) }}"><i  data-toggle="tooltip" data-placement="top" title="Comments"
        class="fa fa-comments fa-2x" onmouseover="this.style.color='#1d809f'" onmouseout="this.style.color='black'"
        style="color: black;"></i></a>


  </div>
</article>
{% endfor %}
{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
{% if posts.page == page_num %}
<a class="btn btn-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
{% else %}
<a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
{% endif %}
{% else %}
...
{% endif %}
{% endfor %}








{% endblock content %}