{% extends 'layout.html'%}

{% block content %}


<div class="content-section mb-3" style="max-width: 100%;">

    <div class="card-body">
        <h5 class="card-title">Welcome!</h5>
        <p class="card-text">Welcome to the Mind Flowing Blog! Here we'll be talking about everything computer
            science. Basics, framesworkds, machine learning, other data science stuff, any new tech or findings, and
            pretty much anything computer science related.</p>
        <div class="row justify-content-center">
            <a class="btn btn-info" style="padding:10px;margin-top: 10px;font-size: larger;"
                href="{{ url_for('home')}}" role="button">LET'S BLOG</a>
            
        </div>
    </div>
</div>






{% endblock content%}