{% extends "layout.html" %}
{% block content %}

<div class="content-section">
    <div class="media">
        <div class="col-md-12 text-center ">
            <div class="panel panel-default">
                <!-- <div class="userpic"> -->
                <div class="image_inner_container">
                    {% if post.author %}
                    <img class="rounded-circle account-img img-fluid" style="text-align: center;"
                        src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
                    {% else %}
                    <img class="rounded-circle account-img img-fluid" style="text-align: center;"
                        src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}">


                    {% endif %}
                </div>
                <div class="media-body">
                    {% if post.author %}

                    <h2 class="account-heading">{{ post.author.username }}</h2>
                    {% else %}

                    <h2 class="account-heading">{{ user.username }}</h2>
                    {% endif %}
                    <!-- <p class="text-secondary">{{ current_user.email }}</p> -->
                </div>
                <hr>



                <!-- Followers following Posts -->
                <!-- <div class="container main-section"> -->
                <div class="row">
                    <div class="col-4 ">

                        <div class="box-layout-text">
                            <a href="{{url_for('following',username=user.username)}}" ><h5>Following</h5></a>
                            <span style="text-align: center;">{{user.followed.count()}}</span>
                        </div>
                        <div class="col-4 "></div>

                    </div>

                    <div class="col-4 ">

                        <div class="box-layout-text">

                         <a href="{{url_for('follower',username=user.username)}}"><h5>Followers</h5></a>


                            <span style="text-align: center;"> {{user.followers.count()}}</span>
                        </div>
                    </div>
                    <div class="col-4 ">

                        <div class="box-layout-text ">
                            <h5>Posts</h5>
                            <span style="text-align: center;"> {{ posts.total }}</span>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
                <!-- jrbvkjsvjnjkfnvgj -->

            </div>

            <div>




                {% if current_user.username!= user.username %}
                {% if not current_user.is_following(user) %}
                <a href="{{ url_for('follow', username=user.username) }}" style="margin-top: 20px;"
                    class="btn btn-primary mb-2">Follow</a>
                {% else %}
                <a href="{{ url_for('unfollow', username=user.username) }}" style="margin-top: 20px;"
                    class="btn btn-danger mb-2">Unfollow</a>
                {% endif %}
                {% endif %}


            </div>
        </div>

    </div>
</div>

{% if post.author %}


{% for post in posts.items %}
<article class="media content-section">
    <img class="rounded-circle article-img"
        src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2"
                href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        </div>

        <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
        {% if post.image %}
        <div class="image_container pb-3 pt-2">
            <img src="{{url_for('static', filename='post_pics/' + post.image)}}" class="img-fluid img-thumbnail"
                style="max-width: 90%;" alt="Responsive image">
        </div>

        {% endif %}
        <span class="article-content">
            <span class=" mt-3">{{post.content| truncate(300) | safe }}.....</span>

            <a href="{{url_for('post',post_id=post.id)}}">Read more</a></span>

        <hr class="allhr">
        {% if current_user.has_liked_post(post) %}
    <a href="{{ url_for('like_action', post_id=post.id, action='like1') }}" style="color:#1d809f;"><i
        class="fa fa-thumbs-up fa-2x"></i></a><a href="{{url_for('user_like',username=user.username,post_id=post.id)}}"><span class="pl-2 pr-4">{{post.likes.count()}}</span></a>
    {% else %}
    <a href="{{ url_for('like_action', post_id=post.id, action='like') }}" style="color: black;"><i
        class="fa fa-thumbs-up fa-2x"></i></a><a href="{{url_for('user_like',username=user.username,post_id=post.id)}}"><span class="pl-2 pr-4">{{post.likes.count()}}</span></a>
    {% endif %}

    {% if current_user.has_unliked_post(post) %}
    <a href="{{ url_for('like_action', post_id=post.id, action='unlike1') }}" style="color: #e4ac00;"><i
        class="fa fa-thumbs-down fa-2x"></i></a><a href="{{url_for('user_unlike',username=user.username,post_id=post.id)}}"><span class="pl-2">{{post.unlikes.count()}}</span></a>
    {% else %}
    <a href="{{ url_for('like_action', post_id=post.id, action='unlike') }}" style="color: black;"><i
        class="fa fa-thumbs-down fa-2x"></i></a><a href="{{url_for('user_unlike',username=user.username,post_id=post.id)}}"><span class="pl-2">{{post.unlikes.count()}}</span></a>
    {% endif %}
        <a href="{{url_for('post_comment',post_id=post.id)}}" style="float:right;">View Comments</a>

    </div>
</article>
{% endfor %}
{% endif %}
{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
{% if posts.page == page_num %}
<a class="btn btn-info mb-4"
    href="{{ url_for('user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
{% else %}
<a class="btn btn-outline-info mb-4"
    href="{{ url_for('user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
{% endif %}
{% else %}
...
{% endif %}
{% endfor %}
{% endblock content %}